.add-todo {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 75px;
  flex-direction: column;
}

.add-todo__input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid rgba(104, 121, 165, 0.65);
  padding: 0 40px 0 15px;
  color: #56677f;
  outline: 0;
  font-size: 16px;
  border-radius: 6px;
}

.add-todo__input::placeholder {
  color: #56677f;
  opacity: .65;
}

.add-todo__button {
  position: absolute;
  border: 0;
  background: 0;
  cursor: pointer;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  outline: 0;
  transition: opacity .15s linear;
}

.add-todo__button:hover,
.add-todo__button:focus {
  opacity: .75;
}

.add-todo__button:disabled {
  opacity: .75;
  cursor: default;
}

.add-todo__button-icon {
  width: 1.8em;
  height: 1.8em;
  color: #7f96b0;
  opacity: 1;
}
